
<h4 id='questionOne'><%=@question%></h4>
<h4 id='questionOne'>- You</h4>
<p id='answer'><%=@answer%></p>
<p id='answer'>- Coach</p>

<p class="linkQuestion"><%= link_to'Ask a new question', ask_path%></p>
