<form action="/answer" class="form" data-turbo="false">
  <label for="question">Ask your coach anything</label><br>
  <input type="text" id="question" name="question" placeholder="Ask away!">
  <input type="submit" id='button' value="Ask!">
</form>

<p>Ask your coach anything</p>
