/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#title {
  margin-left: 50px;
}

.form {
  margin-left:50px;
}

#answer {
  padding-left: 25px;
  border-left: 4px solid grey;
  margin-left: 25px;
}
#question{
  padding-left: 25px;
  width: 500px;
  height: 50px;
}

#questionOne {
  padding-left: 25px;
  border-left: 4px solid grey;
  margin-left: 25px;
}

#button {
  background-color: blue;
  width: 100px;
  height: 50px;
  padding-left: 10px;
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
}

.linkQuestion {
  padding-left: 25px;
}
